<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>
  <title>TV Shows</title>
</head>

<body>
  {% load static %}
  <script src="{% static 'js/index.js' %}"></script>

  <nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">TV Shows</a>
      <img src="https://img.icons8.com/material/24/000000/retro-tv.png" />
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Shows</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Add new show</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Network</th>
            <th scope="col">Release Date</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for show in shows %}
          <tr>
            <th scope="row">{{show.id}}</th>
            <td>{{show.title}}</td>
            <td>{{show.network.name}}</td>
            <td>{{show.release_date}}</td>
            <td><a href="/shows/{{show.id}}/view"><img
                  src="https://img.icons8.com/material-outlined/24/000000/visible--v2.png" /></a></td>
            <td><a href="shows/{{show.id}}/update"><img
                  src="https://img.icons8.com/material-outlined/24/000000/edit--v3.png" /></a></td>
            <td><a href="shows/{{show.id}}/destroy"><img
                  src="https://img.icons8.com/material-outlined/24/000000/trash--v2.png" /></a></td>
          </tr>
          {% endfor %}
    </div>
  </div>
</body>

<div class="row">
  <div class="col">
    <a href="/shows/new">Add a new show</a>
  </div>
</div>

</html>